.donate-image-section {
  width: 100%;
  overflow: hidden;
}

.donate-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.carousel-img {
  height: 600px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 300px;
  }
}